    * {
        box-sizing: border-box;
    }

    li, a {
        list-style: none;
        text-decoration:none;
    }

    body {
        margin: 0;
        font-family: Raleway;
    }

/* container-banner */
.container-banner {
    width: 100%;
    padding: 0;
    margin: -10px 0 0 -8px;
    height: 500px;
}


/* h1 h2 p */
.slide h2,
.slide h1 {
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Raleway';
}

.slide p {
    font-size: 25px;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Raleway';
}

/* slide -> hr */
.slide hr {
    width: 50%;
    background: #fff;
    height: 2px;
    border-radius: 10px;
    max-width: 400px;
    margin-top: 40px;
}

/* btn */
.slide .btn {
    background-color: black;
    padding: 10px;
    width: 200px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    font-size: 25px;
}

.slide .btn:hover {
    background-color: white;
    color: rgb(73, 71, 71);
    transform: scale(0.9);
}

/* slide */
.slide {
    padding: 110px 0;
}

/* class slider */
.slider {
    display: block;
    width: 100%;
    /* background-color: #1f1f1f; */
    overflow: hidden;
    position: absolute;
    height: 80%;
    max-height: 500px;
}

.slider>* {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #1f1f1f; */
    animation: slide 12s infinite;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
}

/* class slide */
.slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(img/img3-banner.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2) {
    left: 100%;
    animation-delay: 2s;
    background-image: url(img/img2-banner.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3) {
    left: 100%;
    animation-delay: 5s;
    background-image: url(img/img1-banner.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(4) {
    left: 100%;
    animation-delay: 8s;
    background-image: url(img/img4-banner.jpg);
    background-size: cover;
    background-position: center;
}

/* all in class slide */
.slide>* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    color: #fff;
}

.main {
    height: 680px;
}
.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}


.product-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #000000;
}

.heading h2 {
  font-weight: normal;
}

.product {
  float: left;
  width: 25%;
}
.box-img {

	transition: ease all 0.5s;
}
.box-img:hover {
	cursor: pointer;
	transform: scale(1.1);
	background: #ffffff;
}
.product-icon {
  position: relative;
}

.product-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  color: #000000;
}

.heading h3 {
  font-weight: normal;
}

.order-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.order {
  padding: 15px 40px;
  background-color: #000000;
  cursor: pointer;
  box-shadow: 0 7px #808080;
}

.order:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

	
/* footer */
footer {
    margin-top: 50px;
}

textarea {
    resize: none;
    width: 600px;
    height: 250px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #dee7ec;
}

input {
    padding: 15px;
    font-size: 15px;
    border: 1px solid #dee7ec;
}

.lower-footer {
    color: #8D94A6;
    background-color: #2f3640;
    height: 80px;
    padding: 15px 80px;
}

.lower-left {
    float: left;
    margin-top: 1
}

.lower-right {
    float: right;
}

.lower-right a {
    color: #fff;
    opacity: 0.3;
    padding: 0 20px;
}

.lower-right a:hover {
    border-bottom: 2px solid;
    opacity: 1;
}

.lower-right li {
    float: left;
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.upper-footer {
    background-color: #f5f6fa;
    color: #8D94A6;
}

.nama {
    float: left;
}

.contact-input {
    width: 270px;
    margin-right: 60px;
}

.contact-form {
    padding: 30px 100px;
}


    /* Animasi tombol */
.contact-submit {
    display: inline-block;
    border-radius: 4px;
    background-color: #0be881;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.contact-submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.contact-submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.contact-submit:hover span {
    padding-right: 25px;
}

.contact-submit:hover span:after {
    opacity: 1;
    right: 0;
}

/* keyframes of slide -> animation */
@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

/* responsive-slide */

@media(max-width:600px) {

    /* btn */
    .slide .btn {
        font-size: 20px;
        width: 150px;
    }

    /* font */
    .slide h1,
    .slide h2 {
        font-size: 20px;
    }

    .slide p {
        font-size: 15px;
    }

    /* slide */
    .slide {
        padding: 80px 0;
    }

    /* slider */
    .slider {
        display: block;
        width: 100%;
        /* background-color: #1f1f1f; */
        overflow: hidden;
        position: absolute;
        height: 65%;
    }
}
