/* container-banner */
.container-banner {
    width: 100%;
    padding: 0;
    margin: -10px 0 0 -8px;
}


/* h1 h2 p */
.slide h2,
.slide h1 {
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Raleway';
}

.slide p {
    font-size: 25px;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Raleway';
}

/* slide -> hr */
.slide hr {
    width: 50%;
    background: #fff;
    height: 2px;
    border-radius: 10px;
    max-width: 400px;
    margin-top: 40px;
}

/* btn */
.slide .btn {
    background-color: black;
    padding: 10px;
    width: 200px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    font-size: 25px;
}

.slide .btn:hover {
    background-color: white;
    color: rgb(73, 71, 71);
    transform: scale(0.9);
}

/* slide */
.slide {
    padding: 110px 0;
}

/* class slider */
.slider {
    display: block;
    width: 100%;
    /* background-color: #1f1f1f; */
    overflow: hidden;
    position: absolute;
    height: 80%;
}

.slider>* {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #1f1f1f; */
    animation: slide 12s infinite;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
}

/* class slide */
.slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(img/img3-banner.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2) {
    left: 100%;
    animation-delay: 2s;
    background-image: url(img/img2-banner.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3) {
    left: 100%;
    animation-delay: 5s;
    background-image: url(img/img1-banner.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(4) {
    left: 100%;
    animation-delay: 8s;
    background-image: url(img/img4-banner.jpg);
    background-size: cover;
    background-position: center;
}

/* all in class slide */
.slide>* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    color: #fff;
}

/* keyframes of slide -> animation */
@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

/* responsive-slide */

@media(max-width:600px) {

    /* btn */
    .slide .btn {
        font-size: 20px;
        width: 150px;
    }

    /* font */
    .slide h1,
    .slide h2 {
        font-size: 20px;
    }

    .slide p {
        font-size: 15px;
    }

    /* slide */
    .slide {
        padding: 80px 0;
    }

    /* slider */
    .slider {
        display: block;
        width: 100%;
        /* background-color: #1f1f1f; */
        overflow: hidden;
        position: absolute;
        height: 65%;
    }
    
.lower-footer {
    color: #8D94A6;
    background-color: #2f3640;
	height: 80px;
	padding: 15px 80px;
}

.lower-left {
	float: left;
	margin-top: 16px;
}

.lower-right {	
	float: right;
}

.lower-right a {
	color: #fff;
	opacity: 0.3;
	padding: 0 20px;
}

.lower-right a:hover {
	border-bottom: 2px solid;
	opacity: 1;
}

.lower-right li {
	float: left;
	margin-bottom: 20px;
}

.section-title {
	font-size: 18px;
	margin-bottom: 10px;
}

.upper-footer {
	background-color: #f5f6fa;
	color: #8D94A6;
}

.nama {
	float: left;
}

.contact-input {
	width: 270px;
	margin-right: 60px;
}

.contact-form {
	padding: 30px 100px;
}


/* Animasi tombol */
.contact-submit {
  display: inline-block;
  border-radius: 4px;
  background-color: #0be881;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.contact-submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contact-submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contact-submit:hover span {
  padding-right: 25px;
}

.contact-submit:hover span:after {
  opacity: 1;
  right: 0;
}
